.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #bfc5d8;
    text-align: right;
    line-height: 40px;
}

.menu>li{
    display: inline;
    font-size: 20px;
    margin-right: 20px;
    letter-spacing: 2px;
}
.listItem{
    text-decoration: none;
}